.container {
  height: 100vh;
  overflow-y: auto;
  min-height: fit-content;
  background: url("../../assets/sky-large.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  &__main {
    width: min(85%, 1100px);
    align-self: center;
    // flex: 1 1 100%;
    // margin-inline: auto;
    margin-bottom: 1rem;
    background-color: transparent;
  }
}
