.main {
  width: min(85%, 1100px);

  margin-inline: auto;
  background-color: transparent;
}

.container {
  height: 100vh;
  min-height: max-content;
  background: url("../../assets/sky-large.jpg");
  background-position: center;
  background-size: cover;
  /* filter: saturate(50%); */
}
