.container {
  height: 100vh;
  overflow-y: auto;
  min-height: fit-content;
  background: url("../../assets/sky-large.jpg");
  background-position: center;
  background-size: cover;

  &__main {
    width: min(85%, 1100px);
    margin-inline: auto;
    margin-bottom: 3rem;
    background-color: transparent;
  }
}
