.splash {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.splash > *:nth-child(even) {
  animation: moveLeft 0.8s ease-in-out 0.4s 1 alternate both;
}
.splash > *:nth-child(odd) {
  animation: moveRight 0.8s ease-in-out 0s 1 alternate both;
}

.splash h1 {
  color: var(--color-primary-3);
}

.splash p {
  padding-block: 2rem;
}

.splash__button {
  align-self: flex-start;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  10% {
    opacity: 0.25;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translate(125px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translate(200px);
  }
  10% {
    opacity: 0.25;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translate(-125px);
  }
  100% {
    transform: translate(0px);
  }
}

@media screen and (max-width: 40em) {
  .splash {
    margin-top: 1.8rem;
  }

  .splash > *:nth-child(even) {
    animation: scale 0.4s ease-in-out 0.2s 1 alternate both;
  }
  .splash > *:nth-child(odd) {
    animation: scale 0.4s ease-in-out 0s 1 alternate both;
  }
  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    10% {
      opacity: 0.25;
    }
    40% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
}
