.video__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  background: linear-gradient(
    40deg,
    rgba(184, 140, 60, 0.794),
    rgba(60, 145, 184, 0.794)
  );
  border-radius: 1.2rem;
  transition: all 0.3s ease;
}

.video__item .video__img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  border-radius: 1.2rem;
  transition: all 0.3s ease;
}

.video__item:hover {
  background-color: rgba(0, 0, 0, 0.424);
}

.video__img {
  opacity: 0.7;
  transition: 0.3s ease;
}
.video__img:hover {
  opacity: 0.99;
  filter: brightness(120%);
}

.video__item p {
  padding: 1rem;
  font-weight: 600;
  z-index: 10;
  opacity: 0.99;
}

@media only screen and (max-width: 40em) {
  .video__item {
    width: 100%;
    border-radius: 1.2rem;
  }

  .video__item .video__img {
    width: 100%;
    object-fit: cover;
  }
}
