.video__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

.video__item .video__img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.6s ease;
}

.video__img {
  opacity: 0.8;
  filter: brightness(120%);
  transition: all 0s ease;
}
.video__img:hover {
  opacity: 0.99;
  backdrop-filter: blur(1px);
}

.video__item p {
  padding: 1rem;
  font-weight: 600;
  z-index: 10;
  opacity: 0.99;
}

@media only screen and (max-width: 40em) {
  .video__item {
    width: 100%;
    border-radius: 1.2rem;
  }

  .video__item .video__img {
    width: 100%;
    object-fit: cover;
  }
}
