.video__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  background: linear-gradient(
    40deg,
    rgba(184, 140, 60, 0.794),
    rgba(60, 145, 184, 0.794)
  );
  border-radius: 1.2rem;
  transition: all 0.3s ease;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: linear-gradient(
      0deg,
      rgba(7, 6, 4, 0.794),
      transparent 25%,
      transparent
    );
    border-radius: 1.2rem;
  }

  & .video__img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    border-radius: 1.2rem;
    opacity: 0.7;
    transition: 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover .video__img {
    opacity: 0.99;
    filter: brightness(120%);
  }

  & p {
    padding: 1rem;
    font-weight: 600;
    z-index: 10;
    opacity: 0.99;
    transition: all 0.3s ease;
  }

  &:hover p {
    font-size: large;
  }
}

@media only screen and (max-width: 40em) {
  .video__item {
    width: 100%;
    border-radius: 1.2rem;

    & .video__img {
      width: 100%;
      object-fit: cover;
    }
  }
}
