.link {
  align-self: center;
  font-weight: bold;
  font-size: 3.6rem;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    text-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.609),
      -0.4rem 0 1.5rem rgba(255, 255, 255, 0.589),
      0.4rem 0 1.5rem rgba(255, 255, 255, 0.596);
  }

  &:active {
    transform: translateY(2px) scale(0.9);
  }
}
